@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
  }

  .header_base {
    height: 150px;
  }
  .header {
    padding-left: 15px;
    width: 100%;
    /* padding-right: 110px; */
  }
  .left_side {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header_logo {
    max-width: 50%;
    opacity: 65%;
  }

  .header_title {
    padding-left: 30px;
  }

  .header_title_text {
    font-size: 18px;
    text-align: center;
  }

  .header_nav_base {
    display: none;
  }
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/

  .container_burger {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #a7a7a7;
    position: relative;
    text-align: center;
    color: floralwhite;
    font-family: sans-serif;
  }

  #check_menu {
    display: none;
  }

  label {
    line-height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .burger_line {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.1s all;
  }

  .two,
  .three {
    top: 18px;
  }

  .four {
    top: 28px;
  }

  .main_menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.3s all;
  }

  .burger_link {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(231, 231, 231, 0.3);
    background-color: #a7a7a7;
  }

  #check_menu:checked ~ .main_menu {
    max-height: 200px;
    width: 210px;
    font-size: 18px;
    transform: translate(-170px, 144px);
  }

  #check_menu:checked ~ .one {
    display: none;
  }

  #check_menu:checked ~ .two {
    transform: rotate(45deg);
  }

  #check_menu:checked ~ .three {
    transform: rotate(-45deg);
  }

  #check_menu:checked ~ .four {
    display: none;
  }

  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/

  .advantages {
    display: none;
  }

  .search_area {
    height: 50px;
    width: 70%;
    font-size: 14px;
  }

  .button_search {
    font-size: 16px;
  }

  .card {
    margin-top: 15px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
    padding-bottom: 10px;
  }

  .card_name {
    font-size: 19px;
    margin-bottom: 15px;
  }

  .desc {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.01em;
    margin: 0;
  }
}
