body {
  margin: 0 auto;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header_base {
  display: flex;
  background-color: rgb(234, 238, 241);
}

.header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #a0a0a0;
}

.left_side {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_logo {
  max-width: 15%;
  opacity: 65%;
}

.header_title {
  padding-left: 15px;
}

.header_title_text {
  font-family: "Segoe UI", sans-serif;
  color: #5f5f5f;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin: 0;
}

.header_nav_base {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.header_nav {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav_text {
  font-family: "Segoe UI", sans-serif;
  color: rgb(119, 119, 119);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 0;
}

.container_burger {
  display: none;
}

.advantages {
  background-color: rgb(234, 238, 241);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
}

.advantages_text {
  font-family: "Segoe UI", sans-serif;
  color: rgb(246, 246, 246);
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0;
  text-shadow: 2px 2px 1px rgb(19, 19, 19);
}

.wide_range {
  background-image: url("assets/wide-range1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special_offer {
  background-image: url("assets/special-offer1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_middle {
  background-image: url("assets/no-middle1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.models_title {
  margin-top: 55px;
  margin-bottom: 35px;
}

.models_title_text {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #464646;
  font-style: normal;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin: 0;
}

.search_base {
  display: flex;
  justify-content: center;
}

.search_area {
  height: 35px;
  width: 28%;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #686868;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.search_area:active {
  outline: none;
}

.search_area:focus {
  outline: none;
}

.button_search {
  background-color: rgb(223, 223, 223);
  border-left: none !important;
  border: 0.5px solid;
  font-family: "Segoe UI", sans-serif;
  color: #686868;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  transition: all 0.05s ease-in;
}

.button_search:hover {
  background-color: rgb(245, 245, 245);
}

.button_search:active {
  background-color: rgb(153, 153, 153);
}

.button_search_text {
  color: #3d3d3d;
}

.button_search_text:active {
  color: #f0f0f0;
}

input:focus::placeholder {
  color: transparent;
}

.models {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-top: 15px;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  padding-bottom: 10px;
}

.card img {
  width: 100%;
}

.card_name {
  text-align: center;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #464646;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0;
}

.desc {
  text-align: center;
  margin: 5px;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #464646;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0;
}

/* .special {
  display: flex;
}

.special_title {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #464646;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0;
}

.special_pic1 {
  opacity: 55%;
  object-fit: cover;
  height: 250px;
}

.special_text {
  padding-left: 15px;
  text-align: left;
  font-family: "Segoe UI", sans-serif;
  color: #464646;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0;
} */
