@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }

  body {
    margin: 0 auto;
  }

  .header {
    padding-left: 10px;
    /* padding-right: 110px; */
  }
  .left_side {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header_logo {
    max-width: 70%;
    opacity: 65%;
  }

  .header_title_text {
    font-size: 16px;
    text-align: left;
  }

  .header_nav {
    display: none;
  }
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/
  /*КНОПКА БУРГЕР*/

  .container_burger {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #5f5f5f;
    position: relative;
    text-align: center;
    color: floralwhite;
    font-family: sans-serif;
  }

  #check_menu {
    display: none;
  }

  label {
    line-height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .burger_line {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s all;
  }

  .two,
  .three {
    top: 18px;
  }

  .four {
    top: 28px;
  }

  .main_menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.3s all;
  }

  .burger_link {
    line-height: 35px;
    height: 35px;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #5f5f5f;
  }

  #check_menu:checked ~ .main_menu {
    max-height: 550px;
    width: 180px;
    font-size: 18px;
    transform: translate(-140px, 144px);
  }

  #check_menu:checked ~ .one {
    display: none;
  }

  #check_menu:checked ~ .two {
    transform: rotate(45deg);
  }

  #check_menu:checked ~ .three {
    transform: rotate(-45deg);
  }

  #check_menu:checked ~ .four {
    display: none;
  }

  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
  /*КНОПКА БУРГЕР КОНЕЦ*/
}
